/* Your CSS styles here */

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.body {
    height: 100vh;
    width: 100vw;
    background-image: url("background.jpg");
    background-size: 100vw 100vh;
    opacity: 0.9;
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(24px, 5vw, 5vw);
    color: white;
    text-align: center;
}

.title {
    position: relative;
    top: 10vh;
}

.new-chat-btn {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40vw;
    font-style: normal;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vh 2vw;
    background-color: white;
    border: none;
    border-radius: 5vw;
    color: black;
    font-size: clamp(16px, 3vw, 3vw);
    opacity: 0.8;
}

#btn1{
    top: 33vh;
}

#btn2{
    top: 45vh;
}

#btn3{
    top: 57vh;
}

.new-chat-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.menu-icon{
    background-image: url("hamburger.png");
    background-size: cover;
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: clamp(24px, 4vw, 4vw);
    height: clamp(24px, 4vw, 4vw);
    border-radius: 50%;
    cursor: pointer;
}